<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <style media="screen">
        * {
            margin: 0;
            padding: 0;
        }

        .center-block {
            display: block;
            margin-left: auto;
            width: 30%;
            margin-right: auto;
        }
    </style>
</head>
<body>
<%if(name){%>
    <%- include nav%>
<%}%>
